
* {
    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
}

*::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
}

img {
    image-rendering: pixelated;
    object-fit: contain;
}

.map-container {
    width: fit-content; height: fit-content;
    min-width: 100vw; min-height: 100vh;

    display: grid;
    justify-items: center;
    align-items: center;
}

.map {
    position: relative;
    /* width: 960px; height: 540px;   */
    /* width: 1280px; height: 720px; */
    /* width: 1920px; height: 1080px; */

    /* width: 1535px; height: 864px; */
    /* width: 1228px; height: 691px; */
    width: calc(1535px / 1.5); height: calc(864px / 1.5); 
    overflow: hidden;
}

.aim {
    position: absolute;
    pointer-events: none;
    min-width: 20px; min-height: 10px;
    z-index: 5000;
    filter: brightness(110%);
    opacity: 60%;
}

.aim.mirro > img {
    transform: rotateY(180deg);
}

.aim.hidden {
    visibility: hidden;
}

.item {
    position: absolute;
    min-width: 22px; min-height: 11px;
    display: flex;
    overflow: hidden;
}

.item > img {
    object-fit: cover;
}

.item.mirro > img {
    transform: rotateY(180deg);
}

.tool-container {
    position: fixed;
    top: 0; bottom: 0; left: 1vh;

    margin: auto;
    padding: 0.7vh;

    width: fit-content; height: 75vh;
    min-width: 1vh;
    
    display: grid;
    grid-gap: 0.7vh;
    justify-content: center;
    align-content: start;

    z-index: 5000;
    overflow: scroll;
}

.icon {
    padding: 0.5vh;
    width: 6vh; height: 6vh;
    z-index: 0;
}

.upload {
    display: none;
}
